# Python
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.github/

# Logs & caches
logs/**
!logs/.gitkeep
*.log
.cache/

# Data (never commit)
H:/DataLake/
H:/DataWarehouse/
DataLake/
DataWarehouse/
#ai4ohs-hybrid-monorepo/
docs/**

# VS Code
.vscode/.ropeproject/
.vscode/ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db
